.primary-button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 12px 22px;
  border-radius: $radius-m;
  border: 2px solid $white;
  font-size: calc(14px + 4 * $size);
  transform: translateY(0);
  background: linear-gradient(0deg, $purple-200, $purple-100);
  transition: all 0.3s;

  ._dark & {
    color: $white;
  }

  .light & {
    color: $white;
  }

  &:hover {
    color: $white;
    box-shadow: 0px 0px 180px 0px $purple;
    transform: translateY(-1px);
    cursor: pointer;
  }
}
