/*Colors*/
$white: #fffafa;

$black-100: #1c1c1c;
$black-200: #292929;
$black-300: #0000001a;
$black-400: #0a0a0a;
$black: #020202;

$gray-200: #f1f0eb;
$gray-100: #929292;
$gray: #e0e0e0;

$purple: #a938ff;
$purple-100: #683fea;
$purple-200: #a47cf3;
$purple-300: #e1cef1;

/*Gradient*/
$primaryGradient: linear-gradient(
  270deg,
  #f0e5f7,
  #2a282f,
  #c093dc,
  #5c4b66
);

$cardGradient: radial-gradient(
  rgba(255, 255, 255, 0.1) 1px,
  transparent 1px
);

/*Shadow*/
$shadow: 0 0 50px 20px $black;
$shadow-light: 0 0 3px 0px $black;

/*Radius*/
$radius-xxxs: 6px;
$radius-xxs: 10px;
$radius-xs: 16px;
$radius-s: 24px;
$radius-m: 30px;
$radius-l: 40px;

/*Size*/
$size: calc(100vw - 375px) / 1545;

/*Media*/
$mobile: '(max-width: 768px)';
$mobile500: '(max-width: 500px)';
$mobile768: '(min-width: 500px) and (max-width: 768px)';
$tablet: '(min-width: 768px) and (max-width: 1024px)';
$desktop1024: '(min-width: 1024px) and (max-width: 1200px)';
$desktop1200: '(min-width: 1200px)';
$desktop: '(min-width: 1024px)';
$noMobile: '(min-width: 768px)';
$noDesktop: '(max-width: 1024px)';
