.location-card {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius-xs;
  background: url('../assets/images/location.webp') no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.4s;

  &__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: 1;
      background: $purple;
      border: 2px solid $purple-100;
      opacity: 0.7;
    }
  }

  &__img {
    position: relative;
    z-index: 3;
    width: 40px;
    height: 55px;
  }

  &__place {
    position: absolute;
    bottom: 5px;
    left: 8px;
    display: flex;
    gap: 2px;
    align-items: center;
    width: fit-content;
    border-radius: $radius-xs;
    background: $white;
    color: $black;
    font-size: calc(8px + 6 * $size);
  }

  &:hover {
    background-size: 120% auto;
  }
}

@media #{$mobile} {
  .location-card {
    &__avatar {
      width: 40px;
      height: 40px;
    }

    &__img {
      width: 27px;
      height: 34px;
    }

    &__place {
      padding: 1px 8px 1px 2px;
    }
  }
}

@media #{$noMobile} {
  .location-card {
    &__avatar {
      width: 60px;
      height: 60px;
    }

    &__img {
      width: 40px;
      height: 55px;
    }

    &__place {
      padding: 3px 10px 3px 6px;
    }
  }
}
