.main-input {
  width: 100%;
  padding: 14px 12px;
  color: inherit;
  background: transparent;
  border: 1px solid $black-200;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.5px;

  &::placeholder {
    color: $gray-100;
  }
}
