.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 100px;

  &__title {
    position: relative;
    width: fit-content;
    text-align: center;
    color: $black;
    font-weight: 500;
    font-size: calc(22px + 8 * $size);
    margin: 50px 0 60px;
    text-transform: uppercase;

    .dark & {
      color: $white;
    }

    &::after {
      content: '';
      position: absolute;
      right: -30px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../assets/images/char.svg') no-repeat;
      background-size: cover;
    }
  }

  &__avatar {
    position: relative;
    margin: 70px 0 160px;
  }

  &__grid {
    position: absolute;
    width: 300px;

    &._top {
      left: -20%;
      top: -20%;
    }

    &._bottom {
      right: -30%;
      bottom: -40%;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    width: 100%;
    height: 50px;
    font-size: calc(20px + 6 * $size);
    color: $white;
    opacity: 0.5;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__block {
    display: grid;
    grid-template-columns: 250px 800px;
  }

  &__list {
    display: grid;
    gap: 30px;
  }

  &__experience {
    margin-bottom: 100px;
  }

  &__edication {
    margin-bottom: 80px;
  }
}
