.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    position: relative;
    width: fit-content;
    text-align: center;
    color: $black;
    font-weight: 500;
    font-size: calc(22px + 8 * $size);
    text-transform: uppercase;

    .dark & {
      color: $white;
    }

    &::after {
      content: '';
      position: absolute;
      right: -30px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../assets/images/char.svg') no-repeat;
      background-size: cover;
    }
  }

  &__avatar {
    position: relative;
    margin: 70px 0 160px;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    width: 100%;
    height: 50px;
    font-size: calc(16px + 10 * $size);
    opacity: 0.5;

    ._dark & {
      color: $white;
    }

    ._light & {
      color: $black;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__block {
    display: grid;
  }

  &__list {
    display: grid;
    gap: 30px;
  }

  &__experience {
    margin-bottom: 100px;
  }

  &__grid-star {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;

    &-item {
      position: absolute;
    }
  }
}

@media #{$mobile500} {
  .about {
    &__subtitle {
      display: none;
    }

    &__grid-star {
      &-item {
        &._4 {
          top: 8px;
          right: 17%;
        }

        &._6 {
          top: 41px;
          left: 12%;
        }
      }
    }
  }
}

@media #{$mobile768} {
  .about {
    &__block {
      grid-template-columns: 120px 76%;
    }

    &__grid-star {
      &-item {
        &._4 {
          top: 28px;
          right: 16%;
        }

        &._6 {
          top: 64px;
          right: 5%;
        }
      }
    }
  }
}

@media #{$mobile} {
  .about {
    padding-bottom: 50px;

    &__block {
      padding: 0 16px;
    }

    &__title {
      margin: 0px 0 40px;
    }

    &__experience {
      margin-top: 80px;
    }

    &__edication {
      margin-bottom: 40px;
    }

    &__grid-star {
      &-item {
        &._1 {
          top: -34px;
          left: 5%;
        }

        &._2 {
          top: -43px;
          left: 17%;
        }

        &._3 {
          top: -68px;
          left: 10%;
        }

        &._5 {
          top: 25px;
          right: 3%;
        }
      }
    }
  }
}

@media #{$noMobile} {
  .about {
    &__title {
      margin: 50px 0 60px;
    }

    &__edication {
      margin-bottom: 80px;
    }
  }
}

@media #{$tablet} {
  .about {
    padding-bottom: 60px;

    &__subtitle {
      justify-content: center;
    }

    &__block {
      grid-template-columns: 170px 560px;
    }

    &__grid-star {
      &-item {
        &._1 {
          top: -32px;
          left: 3%;
        }

        &._2 {
          top: -34px;
          left: 14%;
        }

        &._3 {
          top: -66px;
          left: 9%;
        }

        &._4 {
          top: 28px;
          right: 17%;
        }

        &._5 {
          top: 30px;
          right: 6%;
        }

        &._6 {
          top: 69px;
          right: 7%;
        }
      }
    }
  }
}

@media #{$desktop1024} {
  .about {
    padding-bottom: 70px;

    &__block {
      grid-template-columns: 180px 80%;
    }

    &__grid-star {
      &-item {
        &._1 {
          top: -30px;
          left: 5%;
        }

        &._2 {
          top: -55px;
          left: 14%;
        }

        &._3 {
          top: -79px;
          left: 9%;
        }

        &._4 {
          top: 9px;
          right: 14%;
        }

        &._5 {
          top: 40px;
          right: 3%;
        }

        &._6 {
          top: -20px;
          right: 5%;
        }
      }
    }
  }
}

@media #{$desktop1200} {
  .about {
    padding-bottom: 90px;

    &__block {
      grid-template-columns: 250px 800px;
    }

    &__grid-star {
      &-item {
        &._1 {
          top: 10px;
          left: -4%;
        }

        &._2 {
          top: -7px;
          left: 4%;
        }

        &._3 {
          top: -60px;
          left: 0%;
        }

        &._4 {
          top: 20px;
          right: 7%;
        }

        &._5 {
          top: 56px;
          right: -2%;
        }

        &._6 {
          top: -14px;
          right: -1%;
        }
      }
    }
  }
}
