.about {
  &__title {
    text-align: center;
    color: $white;
    font-weight: 500;
    font-size: calc(22px + 8 * $size);
    margin: 50px 0 60px;
    text-transform: uppercase;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    width: 100%;
    height: 50px;
    font-size: calc(20px + 6 * $size);
    color: $white;
    opacity: 0.5;
  }

  &__block {
    display: grid;
    grid-template-columns: 250px 800px;
  }

  &__list {
    display: grid;
    gap: 30px;
  }

  &__experience {
    margin-bottom: 100px;
  }

  &__edication {
    margin-bottom: 80px;
  }
}
