.footer {
  color: $black;

  &__container {
    border-top: 1px solid $gray;
  }

  &__content {
    display: flex;
    padding: 34px 0 24px;
    justify-content: space-between;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__text {
    color: inherit;
  }

  .dark {
    color: $white;
  }
}
