.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1) rotate(0deg);
  transition: all 0.3s;

  &._mini {
    &:hover {
      transform: scale(1.4) rotate(360deg);
    }
  }

  &._max {
    gap: 12px;
    width: 80px;
    border: 1px solid $gray-100;
    border-radius: $radius-xxs;
    padding: 12px 8px;
    color: $gray-100;
    transition: border 0.3s;

    &:hover {
      color: $white;
      border: 1px solid $white;
    }
  }

  &__name {
    color: inherit;
    font-size: calc(12px + 2 * $size);
    font-weight: 300;
    transition: color 0.2s;
  }
}
