.text-label {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 7px;
  font-size: calc(12px + 10 * $size);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  cursor: default;

  ._dark & {
    color: $white;
  }

  ._light & {
    color: $black;
  }

  &__text {
    transition: opacity 0.3s;
  }

  &__primary {
    opacity: 0.5;
  }

  &__secondary {
    padding-left: 31px;
  }

  &:hover {
    .text-label__primary {
      opacity: 1;
    }

    .text-label__secondary {
      opacity: 0.5;
    }
  }

  &.active {
    .text-label__primary {
      padding-left: 31px;
      opacity: 1;
    }

    .text-label__secondary {
      opacity: 0.5;
      padding: 0;
    }

    &:hover {
      .text-label__primary {
        opacity: 0.5;
      }

      .text-label__secondary {
        opacity: 1;
      }
    }
  }
}
