.hashtag {
  width: fit-content;
  border-radius: $radius-xxs;
  font-size: calc(10px + 6 * $size);
  opacity: 0.8;

  ._dark & {
    background: $black-200;
  }

  ._light & {
    background: $white;
  }
}

@media #{$mobile} {
  .hashtag {
    padding: 8px;
  }
}

@media #{$noMobile} {
  .hashtag {
    padding: 10px;
  }
}
