.navigation {
  position: relative;
  padding: 5px;
  height: fit-content;
  border-radius: $radius-l;
  background: $black-100;
  color: $white;
  overflow: visible;

  ._light & {
    background: $gray;
    color: $black;
  }

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -3px;
    border-radius: $radius-m;
    padding: 2px;
    background: $primaryGradient;
    background-size: 400% 400%;
    z-index: -1;
    animation: gradientBorder 6s ease infinite;
  }

  &__list {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: calc(14px + 6 * $size);
  }

  &__icon {
    display: block;
    border-radius: $radius-s;
    background: $black-200;
  }
}

@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media #{$mobile500} {
  .navigation {
    width: 100%;

    &__list {
      gap: 10px;
      justify-content: space-between;
    }
  }
}

@media #{$mobile768} {
  .navigation {
    &__list {
      gap: 20px;
    }
  }
}
@media #{$mobile} {
  .navigation {
    &__icon {
      padding: 4px 8px;
    }
  }
}

@media #{$noMobile} {
  .navigation {
    &__list {
      gap: 28px;
    }

    &__icon {
      padding: 6px 16px;
    }
  }
}

@media #{$tablet} {
  .navigation {
    &__list {
      gap: 28px;
    }
  }
}

@media #{$desktop} {
  .navigation {
    &__list {
      gap: 40px;
    }
  }
}
