.item-card {
  &._character {
    width: fit-content;
    border: 1px solid $purple;
    border-radius: $radius-xs;
    font-size: calc(10px + 5 * $size);
  }

  &._stack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: $radius-xxxs;
    background: $gray-200;
  }
}

@media #{$noDesktop} {
  .item-card {
    &._character {
      padding: 5px 8px;
    }
  }
}

@media #{$desktop} {
  .item-card {
    &._character {
      padding: 8px 12px;
    }
  }
}
