.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $black-200;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    --gap: 5em;
    --line: 1px;

    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        $black-200 calc(var(--gap) - var(--line) + 1px),
        $black-200 var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        $black-200 calc(var(--gap) - var(--line) + 1px),
        $black-200 var(--gap)
      );
    background-size: var(--gap) var(--gap);
  }

  &.dark {
  }

  &__title {
    text-align: center;
    font-size: calc(18px + 12 * $size);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__grid-stars {
    position: relative;
    max-width: 1000px;
    width: 100%;

    &-item {
      position: absolute;
      width: fit-content;
    }
  }
}

@media #{$mobile} {
  .projects {
    padding: 190px 0 50px;

    &__title {
      margin: 0 0 50px;
    }

    &__list {
      gap: 24px;
      margin: 0 0 40px;
    }

    &__grid-stars {
      &-item {
        &._1 {
          top: -25px;
          left: 15%;
        }

        &._2 {
          left: 10%;
        }

        &._3 {
          top: 28px;
          left: 19%;
        }
      }
    }
  }
}

@media #{$noMobile} {
  .projects {
    &__title {
      margin: 0 0 70px;
    }

    &__grid-stars {
      &-item {
        &._1 {
          top: -20px;
          left: 33%;
        }

        &._2 {
          left: 30%;
        }

        &._3 {
          top: 30px;
          left: 33%;
        }
      }
    }
  }
}

@media #{$noDesktop} {
  .projects {
    &__list {
      max-width: 1000px;
      padding: 0 20px;
    }
  }
}

@media #{$tablet} {
  .projects {
    padding: 170px 0 70px;

    &__list {
      margin: 0 0 70px;
    }
  }
}

@media #{$desktop} {
  .projects {
    padding: 170px 0 80px;

    &__list {
      max-width: 1000px;
      gap: 50px;
      margin: 0 0 90px;
    }
  }
}
