.project-card {
  display: flex;
  border-radius: $radius-xs;
  box-shadow: 0px 0px 0px transparent;
  background: transparent;
  transform: rotate(0deg);
  transition: all 0.3s;

  ._dark & {
    background: $black-100;
  }

  ._light & {
    background: $purple-300;
  }

  &__info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__data {
    display: flex;
    gap: 10px;
    font-size: calc(14px + 8 * $size);
    color: $gray-100;
    text-transform: uppercase;
  }

  &__title {
    border-bottom: 1px solid $gray-100;
    font-size: calc(20px + 22 * $size);
  }

  &__point {
    color: $purple;
  }

  &:hover {
    transform: rotate(-1deg);
    box-shadow: rgba(255, 255, 255, 0.008) 0px 0.6px 1.5px 0px,
      rgba(255, 255, 255, 0.035) 0px 2.3px 6px 0px,
      rgba(255, 255, 255, 0.15) 0px 10px 26px 0px;
  }
}

@media #{$mobile} {
  .project-card {
    flex-direction: column;

    &__info {
      gap: 16px;
    }

    &__title {
      padding: 0 0 24px;
    }

    &__info {
      width: 100%;
    }

    &__img {
      width: 100%;
      margin-bottom: -2px;
      border-radius: $radius-xs $radius-xs 0 0;
    }
  }
}

@media #{$mobile500} {
  .project-card {
    padding: 20px 16px 0 16px;
    gap: 12px;

    &__list {
      gap: 4px;
    }
  }
}

@media #{$mobile768} {
  .project-card {
    padding: 24px 30px 0 30px;
    gap: 25px;

    &__list {
      gap: 6px;
    }
  }
}

@media #{$noMobile} {
  .project-card {
    &__list {
      gap: 10px;
    }

    &__info {
      gap: 24px;
    }

    &__img {
      border-radius: $radius-xs 0 $radius-xs 0;
    }
  }
}

@media #{$tablet} {
  .project-card {
    gap: 40px;
    height: 312px;
    padding: 30px 0 0 40px;

    &__info {
      padding-bottom: 30px;
    }

    &__title {
      padding: 0 0 26px;
    }
  }
}

@media #{$desktop} {
  .project-card {
    gap: 50px;
    height: 378px;
    padding: 45px 0 0 60px;

    &__info {
      padding-bottom: 60px;
    }

    &__title {
      padding: 0 0 30px;
    }
  }
}
