.home {
  display: flex;
  align-items: center;
  padding-bottom: 100px;

  &__text {
    font-size: calc(25px + 68 * $size);
    text-align: center;
    user-select: none;
    cursor: default;

    ._dark & {
      color: $white;
    }

    ._white {
      color: $black;
    }
  }

  &__highlighted {
    color: $purple;
  }
}
