.home {
  display: flex;
  align-items: center;
  min-height: 60vh;
  margin-bottom: 100px;

  &__text {
    color: $white;
    font-size: 4.5rem;
    text-align: center;
    user-select: none;
    cursor: default;
  }

  &__highlighted {
    color: $purple;
  }
}
