.portfolio-section {
  padding: 40px 0 70px;
  display: grid;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__values {
    position: relative;

    &-item {
      position: absolute;

      &._1 {
        left: 10px;
        top: 53%;
        rotate: -8deg;
      }

      &._2 {
        right: 5px;
        top: 71%;
        rotate: 6deg;
      }

      &._3 {
        left: 10px;
        bottom: 2px;
        rotate: -2deg;
      }
    }
  }

  &__subtitle {
    font-size: calc(12px + 4 * $size);
    color: $gray-100;
    text-transform: uppercase;
  }

  &__title {
    font-size: calc(20px + 20 * $size);
  }
}

@media #{$mobile} {
  .portfolio-section {
    grid-template-columns: repeat(2, 1fr);

    &__main {
      grid-area: 1 / 1 / 2 / 2;
    }

    &__location {
      grid-area: 1 / 2 / 2 / 3;
    }
  }
}

@media #{$mobile500} {
  .portfolio-section {
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
    padding: 0 16px;

    &__stack {
      grid-area: 2 / 1 / 4 / 3;
    }

    &__values {
      grid-area: 4 / 1 / 6 / 3;
    }

    &__language {
      grid-area: 6 / 1 / 8 / 3;
    }

    &__everywhere {
      grid-area: 8 / 1 / 10 / 3;
    }
  }
}

@media #{$mobile768} {
  .portfolio-section {
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    padding: 0 20px;

    &__stack {
      grid-area: 2 / 1 / 4 / 2;
    }

    &__values {
      grid-area: 2 / 2 / 4 / 3;
    }

    &__language {
      grid-area: 4 / 1 / 7 / 2;
    }

    &__everywhere {
      grid-area: 4 / 2 / 7 / 3;
    }
  }
}

@media #{$noMobile} {
  .portfolio-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 26px;

    &__main {
      grid-area: 1 / 1 / 2 / 2;
    }

    &__stack {
      grid-area: 1 / 2 / 3 / 3;
    }

    &__location {
      grid-area: 1 / 3 / 2 / 3;
    }

    &__language {
      grid-area: 2 / 1 / 5 / 2;
    }

    &__everywhere {
      grid-area: 2 / 3 / 5 / 3;
    }

    &__values {
      grid-area: 3 / 2 / 5 / 3;
    }
  }
}

@media #{$tablet} {
  .portfolio-section {
    max-width: 730px;
  }
}

@media #{$desktop1024} {
  .portfolio-section {
    max-width: 960px;
  }
}

@media #{$desktop1200} {
  .portfolio-section {
    max-width: 1000px;
  }
}
