.textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid $black-200;
  background: transparent;
  font-size: calc(12px + 2 * $size);
  font-weight: 300;
  resize: none;

  ._dark & {
    color: $white;
  }

  ._light & {
    color: $black;
  }

  &::placeholder {
    color: $gray-100;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: $gray-100;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-200;
    border-radius: 100px;
  }
}
